services:
  web:
    image: ghcr.io/roseratugo/roserat-ugo.com:latest
    container_name: roserat-ugo-portfolio
    networks:
      - proxy_net
    restart: unless-stopped
    labels:
      - "com.centurylinklabs.watchtower.enable=true"

networks:
  proxy_net:
    external: true
